$light-blue: #f5f9fc;
$light-black: #3e3e3e;
$blue: #006699;
$white: #ffffff;
$gray:#333;
$light-gray: #d4d4d4;
$light-title: #1f1f1f;
$border: #e1e1e1;
$text-color: #757575;
$black: #000;
$nav-blue: #074D71;
