# Configuration created by Apache Sling JCR Installer
resource.resolver.manglenamespaces=B"true"
resource.resolver.optimize.alias.resolution=B"true"
resource.resolver.vanitypath.blacklist=["/content/usergenerated"]
resource.resolver.vanity.precedence=B"false"
resource.resolver.vanitypath.maxEntries=L"-1"
resource.resolver.required.providers=["org.apache.sling.jcr.resource.internal.helper.jcr.JcrResourceProviderFactory"]
resource.resolver.enable.vanitypath=B"true"
resource.resolver.providerhandling.paranoid=B"false"
resource.resolver.allowDirect=B"true"
resource.resolver.mapping=["/-/"]
resource.resolver.vanitypath.whitelist=["/apps/","/libs/","/content/"]
resource.resolver.map.location="/etc/map.publish.stage"
\ resource.resolver.vanitypath.bloomfilter.maxBytes=L"1024000"
resource.resolver.vanitypath.maxEntries.startup=B"true"
resource.resolver.default.vanity.redirect.status=I"302"
resource.resolver.log.closing=B"false"
resource.resolver.searchpath=["/apps","/libs"]
resource.resolver.virtual=["/:/"]
